[submodule "Frameworks/External/Alamofire"]
	path = Frameworks/External/Alamofire
	url = git@github.com:Alamofire/Alamofire.git
[submodule "Frameworks/External/ObjectMapper"]
	path = Frameworks/External/ObjectMapper
	url = git@github.com:Hearst-DD/ObjectMapper.git
[submodule "Frameworks/External/StarScream"]
	path = Frameworks/External/StarScream
	url = git@github.com:daltoniam/Starscream.git
[submodule "Frameworks/External/KeyChainAccess"]
	path = Frameworks/External/KeyChainAccess
	url = git@github.com:kishikawakatsumi/KeychainAccess.git
[submodule "Frameworks/External/SwiftyJson"]
	path = Frameworks/External/SwiftyJson
	url = git@github.com:SwiftyJSON/SwiftyJSON.git
